@import 'rebass';

:root {

    --container-width: 700px;

    --font-family: 'Kameron', 'Avenir Next', sans-serif;

    --black: #333;

    --h1: 4.25rem;
    --h2: 1.5rem;
    --h3: 1.25rem;
    --h4: 1rem;
    --h5: .875rem;
    --h6: .75rem;

    --form-field-font-size: 1.25rem;
    --form-field-height: 3.8rem;
    --form-field-padding-y: 1rem;
    --form-field-padding-x: .5rem;

    --border-width: 1px;
    --border-radius: 8px;
    --border-color: gainsboro;

    --button-padding-y: 1rem;
    --button-padding-x: 2rem;

    --min-cell-height: 170px;
}

.option-cell-height { min-height: var(--min-cell-height); }

.flex-justify-center { justify-content: center; }

.pointer { cursor: pointer; }

.faded { opacity: 0.5; }

.transparent-border { border: var(--border-width) solid transparent; }

.connect-viz .connect-viz-title,
.c3 .tick text,
.c3-legend-item,
.connect-table,
.connect-text .connect-viz-result,
.connect-error, 
.connect-viz {
    font-family: var(--font-family);
}

.connect-viz .connect-viz-title {
    font-size: var(--h2);
}
.connect-table td, .connect-table th {
    font-size: var(--h4);
}
.connect-text .connect-viz-result .connect-text-value {
    font-size: var(--h1);
}


