@import 'rebass';

:root {

	--container-width: 700px;

	--font-family: 'Kameron', 'Avenir Next', sans-serif;



	--border-width: 1px;
  	--border-radius: 8px;
  	--border-color: gainsboro;

  	--min-cell-height: 170px;
}

.option-cell-height {
	min-height: var(--min-cell-height);
}

.flex-justify-center {
	justify-content: center;
}

.pointer {
	cursor: pointer;
}

.faded {
	opacity: 0.5;
}
.faded:hover {
	opacity: 1;
}

.transparent-border {
	border: var(--border-width) solid transparent;
}